body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;

  width: 16.25rem;

  padding: 1.25rem;

  justify-content: center;
  align-items: center;

  font-weight: 600;
  text-wrap: pretty;

  color: rgba(2, 0, 36, 1);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0.8);
}

.card p {
  font-weight: 700;

  text-align: center;
}

.product-img {
  width: 6.25rem;
  height: auto;

  margin-bottom: 0.625rem;
}

.price {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 1rem 0 0.625rem;

  gap: 3rem;

  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;

  color: rgba(26, 56, 62, 1);
}

.quantity {
  display: flex;

  gap: 0.5rem;
}

.quantity button {
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;

  padding: 0.25rem;

  font-size: 1rem;
  line-height: 1rem;

  color: #fff;

  border-radius: 50%;
  border: none;

  background-color: #1b2f4f;

  transition: background-color 0.3s ease;
}

.quantity button.disabled {
  opacity: 0.7;

  cursor: not-allowed;
}

.confirm {
  cursor: pointer;

  margin-top: 2.5rem;

  padding: 1rem 2rem;

  font-size: 1.25rem;
  font-weight: bold;

  color: #fff;

  border-radius: 1.25rem;
  border: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  background-color: #1b2f4f;

  transition: background-color 0.3s ease;
}

.quantity button:hover,
.confirm:hover {
  filter: brightness(0.9);

  transition: all 0.25s ease-out;
}

.quantity-number {
  width: 1.5rem;

  text-align: center;
}
