body {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  min-height: 100vh;

  margin: auto;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

.checkout {
  width: 70%;

  padding: 2.5rem 3.75rem;

  border-right: 1px solid #ccc;
}

.checkout > h2 {
  margin-bottom: 1.75rem;

  color: #f1fffa;
}

.payment-form {
  margin-bottom: 2.5rem;
}

.payment-method {
  display: flex;

  align-items: center;

  margin-bottom: 2.5rem;

  gap: 1.75rem;
}

.payment-button {
  display: flex;

  width: 70%;

  cursor: pointer;

  align-items: center;

  padding: 1rem 1.75rem;

  gap: 1.25rem;

  border: 1px solid #f1fffa;
  border-radius: 0.25rem;
}

.payment-button.checked {
  border-color: #007bff;
}

.icon {
  margin-right: 0.25rem;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + .payment-button {
  color: #f1fffa;

  border-color: #007bff;
}

.credit-card-details {
  display: flex;
  flex-direction: column;

  gap: 1.25rem;
}

.payment-form input {
  padding: 0.5rem 1rem;

  font-size: 1.25rem;
  font-weight: 500;
}

.not-selected {
  display: none;
}

.realize-button {
  display: flex;

  cursor: pointer;

  justify-content: center;

  margin-top: 2.5rem;

  padding: 0.813rem 3.75rem;

  font-weight: 500;
  color: #f1fffa;

  background-color: #007bff;

  border: none;
}

.realize-button:disabled {
  cursor: not-allowed;
}

.order-summery {
  display: flex;
  flex-direction: column;

  width: 36rem;

  margin-left: 2.5rem;

  padding: 2.5rem 3.75rem;

  border: 1px solid red;
}

.order-summery > h2 {
  color: #f1fffa;

  margin-bottom: 1.75rem;
}

.order-container {
  display: flex;

  flex-direction: column;
}

.order-item {
  display: flex;

  justify-content: space-between;

  margin-bottom: 0.75rem;

  padding: 1rem 2rem;
}

.order-summery,
.total-order {
  margin-bottom: 2rem;
}

.order-item > span {
  font-weight: 700;
  color: #f1fffa;
}

.total-order {
  display: flex;
  flex-direction: column;

  width: 36rem;

  margin-left: 2.5rem;

  padding: 2.5rem 1rem;

  border: 1px solid #ff4f89;
}

.total {
  display: flex;
  justify-content: space-between;

  margin-bottom: 0.75rem;

  padding: 1rem 2rem;
}
