body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
  margin: auto;
  flex-direction: column;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

.checkout {
  width: 70%;
  padding: 2.5rem 3.75rem;
  border-right: 1px solid #ccc;
}

.checkout>h2 {
  color: white;
  margin-bottom: 1.875rem;
}

.payment-form {
  margin-bottom: 2.5rem;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
}


.payment-button {
  display: flex;
  align-items: center;
  width: 70%;
  border: 1px solid white;
  border-radius: 0.3125rem;
  padding: 0.938rem 1.875rem;
  gap: 1.25rem;
  cursor: pointer;
}

.payment-button.checked {
  border-color: #007bff
}

.icon {
  margin-right: 0.3rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+.payment-button {
  color: #fff;
  border-color: #007bff;
}

.credit-card-details {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

.payment-form input {
  padding: 0.625rem 0.938rem;
  font-size: 1.125rem;
  font-weight: 500;
}



.not-selected {
  display: none;
}

.realize-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  font-weight: 500;
  padding: 0.813rem 2.813rem;
}

.realize-button:disabled {
  cursor: default;
}

.order-summery {
  display: flex;
  flex-direction: column;
  width: 36rem;
  margin-left: 40px;
  padding: 2.5rem 3.75rem;
  border: 1px solid red;
}

.order-summery>h2 {
  color: white;
  margin-bottom: 1.875rem;
}

.order-container {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 1rem 2rem;
}

.order-summery,
.total-order {
  margin-bottom: 2rem;
}

.order-item>span {
  font-weight: 700;
}

.total-order {
  display: flex;
  flex-direction: column;
  width: 36rem;
  padding: 2.5rem 1rem;
  margin-left: 40px;
  border: 1px solid red;
}

.total {

  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 1rem 2rem;

}