body {
  display: flex;
  flex-direction: column;

  padding-bottom: 2.5rem;
}

.container {
  width: 90%;
  height: auto;

  margin: auto;

  padding: 1.25rem;

  background-color: #1b2f4f;

  border-radius: 8px;
}

.button-container {
  display: flex;
  flex-direction: row;

  width: 100%;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.confirm-button {
  width: 8rem;
}
